* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #264653;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
}

.content {
  background: #fff;
  box-shadow: -10px 10px 80px rgba(0, 0, 0, 0.5);
  padding: 1em 2.5em 2.5em 2.5em;
  width: 70%;
  min-height: 40%;
  border: 1px solid #eee;
  border-radius: 10px;
}

header {
  margin: 1rem auto 3rem;
}

header img {
  width: 50%;
}

.label {
  display: block;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  font-size: 0.9rem;
  padding: 0 5px 5px;
  color: #a7a7a7;
}

#url {
  width: 70%;
  padding: 1em 1.8em;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid rgba(14, 30, 37, 0.09);
  outline: none;
}

#url:focus {
  border-radius: 10px;
  border: 2px solid #264653;
}

#urlResult {
  padding: 1em 1.8em;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid rgba(14, 30, 37, 0.09);
  outline: none;
  color: #2a9d8f;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 1em;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  background: #264653;
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  background: #315969;
}

#loading {
  display: none;
}

#showUrl {
  margin-top: 2rem;
}

#showUrl #resultBtn {
  padding: 1em;
  font-size: 1.1rem;
  color: #fff;
  background: #2a9d8f;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 1rem auto 0;
}

#showUrl #resultBtn:hover {
  background: #30b3a3;
  cursor: pointer;
}

#showUrl #resultBtn img {
  width: 15px;
  margin-right: 5px;
}

#showUrl p {
  color: #d62828;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}
.lds-ellipsis div {
  position: absolute;
  top: 66px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #f4a261;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 16px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 64px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 112px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(48px, 0);
  }
}

@media (max-width: 1024px) {
  .content {
    padding: 1em 1em 2.5em;
    width: 85%;
  }

  header img {
    width: 80%;
  }

  .label {
    width: 95%;
  }

  #url {
    width: 95%;
    padding: 1em 1.3em;
    font-size: 1rem;
  }

  #urlResult {
    padding: 1em 1.3em;
    font-size: 1rem;
  }

  button {
    padding: 1em 0.8em;
    font-size: 1rem;
  }

  #showUrl #urlResult {
    width: 95%;
  }

  #showUrl #resultBtn {
    padding: 1em 0.8em;
    font-size: 1rem;
    width: 80%;
  }
}
